@{
    ViewData["Title"] = "KÜTÜPHANE";

    string ad = "KÜTÜPHANE SİTEMİZE HOŞGELDİNİZ";
}

<div class="text-center">
    <h1 class="display-4"></h1>

    @{
        <b>@ad</b>//yukarıdakki ad değişkenini ekrana yazdırıyor
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
